---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Hi, I'm Kirill McClintock.";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>New new heading.</h2>
  <!--<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />  -->
</BaseLayout>