---
const {title, url} = Astro.props;
import Footer from "./Footer.astro";
---
<!-- This is the blog post astro component.  This is used to generate blog posts from markdown files. -->

<li><a href={url}>{title}</a></li>
