---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="https://github.com/kirillmcclintock" target="_blank" rel="noreferrer">My Github</a>
    <a href="https://twitter.com/kirillmcc" target="_blank" rel="noreferrer">My Twitter</a>
</div>
